.App {
  display: grid;
  background-color: blue;
  min-width: 1200px;
  padding: 50px;
}
.header{
  text-align: center;
  background-image: url("./logo/carpetlogo.jpeg");
  width: 310px;
  height: 180px;
  margin-left: 530px;
}

.menu{
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  height: 250px;
  border: 10px solid yellow;
  border-radius: 30px;
  background-color: blue ;
}
.buttons{
  margin: 20px;
}
.buttons_btn{
  height: 50px;
  width: 250px;
  font-size: 20px;
  border-radius: 10px;
  border: 5px solid yellow;
  background-color: blue;
  color: yellow;
}
.buttons_btn:hover{
  background-color: yellow;
  border: 5px solid blue;
  color: blue;
}
.carpet_window{
  width: 140px;
  height: 140px;
  background-color: blue;
  border: 2px solid yellow;
  border-radius: 70px;
  margin: 0 auto;
  margin-top: 10px;

}
.game{
  margin-top: 10px;
  display: grid;
  border: 10px solid yellow;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


